---
---

@import 'partials/variables';
@import 'micro/micro';
@import 'partials/navbar';
@import 'partials/footer';
@import 'partials/notices';
@import 'partials/groups';
@import 'partials/achievements';
@import 'partials/projects';
@import 'partials/home';
@import 'partials/equipments';
@import 'partials/group';
@import 'partials/about';
@import 'partials/calendar';