---
layout: default
---

<div class="wrapper--projects display--flex horizontal-align--center flex-direction-column vertical-align--center">
	<div class="projects__head h2--large">
		Lorem ipsum dolor sit amet, consecte adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. lorem ipsum dolor simit amet conscete 
	</div>
		
	<div class="wrapper--project__card display--flex">
	{% assign projects = site.open_projects | sort: 'date' | reverse %}
	{% for project in projects %}
		{% assign isOdd = forloop.index | modulo:2 %}
				<div class="project__card">
					<div class="project__head h1--smaller">
						{{ project.title | upcase }}
					</div>
					<div class="project__content"> {{ project.sub_title}} </div>
					<div class="wrapper--projects__link">
						<div class="project__link--border"> </div>
						<a class="project__link h2--large display--block" href="#">
							VIEW DETAILS
						</a>
					</div>
				</div>
		{% if isOdd == 0 %}
			</div>
			<div class="wrapper--project__card display--flex">
		{% endif %}
	{% endfor %}
</div>

<script type="text/javascript">
	// document.getElementById("projects").classList.add('link--active');
</script>