---
layout: default
---

<div class="wrapper--groups flex-direction-column display--flex vertical-align--center horizontal-align--center">
	<div class="groups__head">
		<h1> GROUPS </h1>
		<div class="groups__description h1--smaller"> The Student Technical Council consists of 14 Groups as well as various Departmental Societies, they function as the ‘Hub of Technovation’ of IITR </div>
	</div>

	<div class="group__switcher display--flex"> 
		<div class="group__type--council h2--large group__type--active">
			COUNCIL
		</div>
		<div class="group__type--departmental h2--large">
			DEPARTMENTAL	
		</div>
	</div>

	<div class="wrapper--group-cards">
		{% assign groups = site.groups %}

		<div class="groups--council">
			<div class="display--flex group-cards">
			{% assign count = 1 %}
			{% for group in groups %}
				{% if group.type == 'council' %}
					{% assign isFourMultiple = count | modulo:4 %}
					{% assign count = count | plus: 1 %}
					<div class="group-card">
						<a href="{{site.baseurl}}/groups/{{ group.tag }}" class="group-card-hover display--flex horizontal-align--center vertical-align--center">
							<h2> VIEW MORE </h2>
						</a>
						<div class="group-card__name display--flex vertical-align--center"> 
							<h2> {{ group.name | upcase }} </h2> 
						</div>
						<div class="group-card__img-div">
							<img class="group-card__img" data-echo="{{site.baseurl}}/images/{{group.image}}">
						</div>
					</div>
					{% if isFourMultiple==0 %}
						</div>
						<div class="display--flex group-cards">
					{% endif %}
				{% endif %}
			{% endfor %}
		</div>
	</div>

	<div class="groups--departmental display--none">
			<div class="display--flex group-cards">
			{% assign count = 1 %}
			{% for group in groups %}
				{% if group.type == 'departmental' %}
					{% assign isFourMultiple = count | modulo:4 %}
					{% assign count = count | plus: 1 %}
					<div class="group-card">
						<a href="{{site.baseurl}}/groups/{{ group.tag }}" class="group-card-hover display--flex horizontal-align--center vertical-align--center">
							<h2> VIEW MORE </h2>
						</a>
						<div class="group-card__name display--flex vertical-align--center"> 
							<h2> {{ group.name | upcase }} </h2> 
						</div>
						<div class="group-card__img-div">
							<img class="group-card__img" data-echo="{{site.baseurl}}/images/{{group.image}}">
						</div>
					</div>
					{% if isFourMultiple==0 %}
						</div>
						<div class="display--flex group-cards">
					{% endif %}
				{% endif %}
			{% endfor %}	
		</div>
	</div>
	</div>
</div>