---
layout: default
---

<div class="calendar__left-nav display--flex flex-direction-column vertical-align--flex-end">
	<div class="calendar--up arrow--inactive"> &uarr; </div>
	<div class="left-nav__list">
	{% assign calendar = site.data.calendar %}
	{% for month in calendar %}
		{% if forloop.index == 1%}
			<div class="c-left-nav__month c-left-nav__month--active" data-active="{{ forloop.index0 }}"> {{ month.month.name }}</div>
		{% else %}
			<div class="c-left-nav__month" data-active="{{ forloop.index0 }}"> {{ month.month.name }}</div>
		{% endif %}
	{% endfor %}
	</div>
	<div class="calendar--down"> &darr; </div>
</div>

<div class="wrapper--calendar">
	{% assign calendar = site.data.calendar %}
	{% for month in calendar %}
			<div class="month">
				<div class="date__row display--flex">
				{% for date in month.month.dates %}
					{% assign isMultipleTwo = forloop.index | modulo: 2 %}
					<div class="date">
						<div class="date__head">
							<div class="date__head--underline"> </div>
								{{ date.date }}	
						</div>
						{% for event in date.events%}
							<div class="month__event display--flex flex-direction-column" id="{{month.month.name}}-{{date.date}}-{{forloop.index}}">
								<div class="event__data display--flex">
									<i class="fa fa-calendar"></i>
									<div class="event__text"> {{ event.event.name }} </div>
								</div>
								<div class="event__data display--flex"> 
									<i class="fa fa-map-marker"></i>
									<div class="event__location"> {{ event.event.location }}</div>
								</div>
								<div class="event__data display--flex"> 
									<i class="fa fa-clock-o"></i>
									<div class="event__time"> {{ event.event.time }} </div>		
								</div>
								<div class="c-read__more" data-event="{{month.month.name}}-{{date.date}}-{{forloop.index}}">
									<i class="fa fa-chevron-down"></i>
								</div>
							</div>
						{% endfor %}
						{% if isMultipleTwo == 0 %}
							</div> <!-- end of date -->
							</div> <!-- end of date row -->
							<div class="date__row display--flex"> <!-- beginning of a new date row closed immediately if not more dates !-->
						{% else %}
							</div> <!-- just closes the date -->
						{% endif %}

				{% endfor %}
				</div>
			</div>
	{% endfor %}
</div>

<script type="text/javascript" src="{{site.baseurl}}/scripts/calendar.js"></script>

