<footer class="background--primary position--fixed display--flex vertical-align--center horizontal-align--center">
  <a href="/about" class="footer__head display__flex vertical-align--center horizontal-align--center"> <h3> ABOUT STC </h3> </a>
  <a href="#" class="footer__link"><i class="fa fa-facebook fa-2x" aria-hidden="true"></i></a>
  <a href="#" class="footer__link"><i class="fa fa-envelope fa-2x" aria-hidden="true"></i></a>
</footer>

<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
<script type="text/javascript" src="/scripts/script.js"></script>