<nav class="display--flex col-sm-12">
		<div class="nav__head display--flex background--primary horizontal-align--center vertical-align--center">
			<a class="stc-icon" href="/"><img src="/images/logo.png" class="nav__logo"></a>
		</div>
		<a href="/notices" class="nav__element display--flex vertical-align--center horizontal-align--center" id="notices"> <h3> NOTICES </h3> </a>
		<a href="/achievements" class="nav__element display--flex vertical-align--center horizontal-align--center" id="achievements"> <h3> ACHIEVEMENTS </h3> </a>
		<a href="/projects" class="nav__element display--flex vertical-align--center horizontal-align--center" id="projects"> <h3> PROJECTS </h3> </a>
		<a href="#" class="nav__element display--flex vertical-align--center horizontal-align--center" id="event-calendar"> <h3> EVENT CALENDAR </h3> </a>
		<a href="/groups" class="nav__element display--flex vertical-align--center horizontal-align--center" id="groups"> <h3> GROUPS </h3> </a>
		<a href="/equipments" class="nav__element display--flex vertical-align--center horizontal-align--center" id="equipments"> <h3> EQUIPMENT </h3> </a>
</nav>