.calendar__left-nav {
	width: 27.9423rem;
	position: fixed;
	height: 100%;
	padding-top: 14.042rem;
}

	.left-nav__list {
		width: 64%;
		height: 21.8rem;
		overflow-y: hidden;
	}

		.c-left-nav__month { 
			font-family: 'Montserrat', sans-serif;
			font-size: 2.5596rem;
			font-weight: 800;
			text-align: center;
			padding: 2.4861999rem 0;
			color: rgba(0, 0, 0, 0.55);
			transition: transform 0.5s, color 0.5s cubic-bezier(0, 0.96, 0.32, 1.11);
		}

		.c-left-nav__month--active {
			color: black
		}

	.calendar--up, .calendar--down {
		cursor: pointer;
		font-family: 'Montserrat', sans-serif;
		font-size: 2.5596rem;
		font-weight: 900;
		text-align: center;
		width: 65%;
		color: black;
	}

	.arrow--inactive {
		color: rgba(0, 0, 0, 0.55);
	}

.wrapper--calendar {
	padding-top: 7.51rem;
	width: 100%;
}
	
	.month {
		margin-left: 27.9423rem;
		height: 90vh;
	}

		.date-row {
		}	

			.date {
				flex: 1;
				max-width: 50%;
				margin-top: 5.532rem;
				margin-left: 5rem;
			}

				.date__head {
					font-size: 7.10999rem;
					color: $primary-bg-color;
					font-family: 'Gilroy-Bold';
					position: relative;
					margin-bottom: 4.266rem;
				}

					.date__head--underline {
						border-bottom: 5px solid $primary-bg-color;
						width: 9%;
						height: 100%;
						position: absolute;
						z-index: 1;
					}

				.month__event {
					margin-bottom: 2.133rem;
					color: rgba(0,0,0,0.9);
					font-size: 2.033rem;
				}
				
					.event__data {
						color: rgba(0,0,0,0.9);
						font-size: 2.033rem;
						margin-bottom: 2.133rem;
						font-family: 'Gilroy-Light';

						i {
							flex: 1;
							color: rgba(0,0,0,0.9);
							font-size: 2.033rem;
						}	
					}

						.event__text, .event__time, .event__location {
							flex: 10;
						}
						