.wrapper--equipment {
	padding-top: 7.51rem;
	padding-bottom: 7.51rem;
}

	.equipments__head {
		width: 107.21879999999999rem;
		margin-top: 6.176rem;;
 	}
 		.equipments__head--main {
 			font-family: 'Montserrat', sans-serif;
			font-weight: 700;
 		}

 		.equipments__head--description {
 			font-family: 'Gilroy-Light';
 			line-height: 3.4128rem;
 			letter-spacing: 1.2px;
 			margin-top: 2.844rem;
 			color: #585858
 		}

 	.equipments__row {
 		width: 107.21879999999999rem;
 		margin-top: 13.499rem;
 	}

 		.equipment:last-child {
 			margin-right: 0;
 		}

	 	.equipment {
	 		width: 25rem;
	 		margin-right: 15rem;
	 	}

	 		.equipment__head {
				font-family: 'Montserrat', sans-serif;
				font-weight: 700;
				font-size: 2.5rem;
				margin-bottom: 3.554rem;
	 		}

	 		.equipment__list {
	 		}

	 			.equipment__list--item {
	 				&>i {
	 					color: $primary-bg-color;
	 					margin-right: 1.493rem;
	 					line-height: 2.3rem;
	 				}
	 				color: #585858;
	 				font-family: 'Gilroy-Light';
	 				margin-bottom: 2.133rem;

	 				&>span {
	 					line-height: 2.3rem;
	 				}
	 			}