.wrapper--groups {
	padding-top: 7.51rem;
}

 	.groups__head {
		width: 107.21879999999999rem;
		margin-top: 6.126rem;
		font-family: 'Montserrat', sans-serif;
 }

 	.groups__description {
		font-family: 'Gilroy-Light';
		color: #585858;
		margin: 5.466rem 0;
		font-size: 1.8333rem;
		line-height: 2.522rem;
 }

 .group__switcher {
		width: 107.21879999999999rem;
		margin-bottom: 5.1192rem;
 }
 	.group__type--departmental {
		font-family: 'Montserrat', sans-serif;
		margin-right: 3.2705rem;
		cursor: pointer;
		color: rgba(44, 44, 44, 0.57);
 	}

 	.group__type--council {
 		font-family: 'Montserrat', sans-serif;
		margin-right: 3.2705rem;	
		cursor: pointer;
		color: rgba(44, 44, 44, 0.57);
 	}

 	.group__type--active {
 		color: black;
 	}

 	.group-cards {
		width: 107.21879999999999rem;
		margin-bottom: 4.4082rem;
	 }
	
		.wrapper--group-cards {
			position: relative;
			width: 107.21879999999999rem;
		}

		 	.groups--departmental {
				position: absolute;
				top: 0;
		 	}

		 	.groups--council {
		 		position: absolute;
		 		top: 0;
		 	}

				.group-card {
					height: 34.4124rem;
					width: 22.894199999999998rem;
					position: relative;
					overflow: hidden;
					margin-right: 5rem;
			
					&:hover {
						.group-card-hover {
							opacity: 1;
						}

						.group-card__img {
							filter: blur(1px);
							transform: scale(1.1, 1.1)
						}

						.group-card__name {
							opacity: 0;
						}
					}

					&:last-child {
						margin-right: 0;
					}
				}

					.group-card__img-div {
						position: absolute;
						top:0;
						height: 34.4124rem;
						z-index: -1;

						img {
							height: 100%;
							width: auto;
							margin-left: -17%;
							transition: transform 0.2s ease;
						}
					}

					.group-card__name {
						position: absolute;
						bottom: 2.0619rem;
						right: 0;
				 		font-family: 'Gilroy-Bold';
				 		background-color: $primary-bg-color;
				 		padding-top: 3rem;
				 		padding-bottom: 3rem;
				 		padding-right: 1.8rem;
				 		padding-left: 1.8rem;
				 		height: 5.4747rem;
				 		opacity: 1;
				 		line-height: 2.2rem;
				 		transition: opacity 0.2s ease;

				 		h2 {
				 			text-align: right;
				 		}
					}

				.group-card-hover {
					position: relative;
					top:0;
					left:0;
					display: flex;
					background-color: rgba(0,0,0,0.6);
					height: 100%;
					width: 100%;
					font-family: 'Gilroy-Bold';
					color: white;
					opacity: 0;
					transition: opacity 0.2s ease;
					z-index: 1;
				}
		
	.scroll-down {
		position: fixed;
		bottom: 0;
		color: white; 
		background-color: black;
		width: 27.9423rem;
		right: 40%;
		font-size: 1.7064rem;
		height: 5.4035rem;
		z-index: 1;
		transition: bottom 1s ease;
		cursor: pointer;

			div {
				width: 23.10749rem;
				font-family: 'Gilroy-Light';
			}

			.arrow-dw {
				font-size: 2.2rem;
				flex: 1;
				font-weight: 500;
				background: $primary-bg-color;
				color: black;
			}
	}

	.hidden-arrow {
		bottom: -6rem;
	}