.wrapper--groups {
	padding-top: 7.51rem;
}

 .groups__head {
		width: 107.21879999999999rem;
		margin-top: 6.126rem;
		font-family: 'Montserrat', sans-serif;
 }

 .groups__description {
		font-family: 'Gilroy-Light';
		color: #585858;
		margin: 5.466rem 0;
		font-size: 2.333rem;
		line-height: 2.522rem;
 }

 .group-cards {
		width: 107.21879999999999rem;
		margin-bottom: 4.4082rem;
 }

		.group-card {
			@include dump-bg-image-styles('../../images/groups-ds.png');
			height: 34.4124rem;
			width: 22.894199999999998rem;
			position: relative;

			&:hover {
				.group-card-hover {
					display: flex;
				}

				.group-card__name {
					display: none;
				}
			}
		}

			.group-card__name {
				position: absolute;
				bottom: 2.0619rem;
				right: 0;
		 		font-family: 'Gilroy-Bold';
		 		background-color: $primary-bg-color;
		 		padding: 0 1.8486rem;
		 		height: 5.4747rem;
			}

		.group-card-hover {
			display: none;
			background-color: rgba(0,0,0,0.6);
			height: 100%;
			width: 100%;
			font-family: 'Gilroy-Bold';
			color: white;
		}
