%width-left-leaf {
	width: 53.98789rem;
}

.wrapper--group {
	position: relative;
	background-color: white;
}

	.g-group {
  	position: absolute;
  	width: 100%;
  	background-color: white;
  	z-index: -100;
  	opacity: 0;
  	transition: opacity 0.1s ease;
  }
	
	.visible {
		z-index: 1;
		opacity: 1;
	}
	
	.invisible {
		z-index: -100;
		opacity: 0;
		display: none;
	}
	
	.group-front{
		width: 100%;
		height: 100vh;
		padding-top: 7.51rem;
	}	

		.front__left-leaf {
			width: 50%;
			flex: 1;
		}

			.group__info {
				position: absolute;
				top: 11rem;
				margin-left: 2.85rem;
			}

				.front__paginate {
					@extend %width-left-leaf;
					color: $primary-bg-color;
					font-family: 'Gilroy-Light';

					h2 {
						letter-spacing: 1px;
						a {
							text-decoration: none;
							color: $primary-bg-color;
						}
					}
				}

				.front__head {
					@extend %width-left-leaf;

					margin-top: 2.84rem;

					h1 {
						line-height: 4.6rem;
						font-family: 'Montserrat', sans-serif;
						font-weight: 900;
					}

					.front__sub-head {
						line-height: 2rem;
						color: $primary-bg-color;
						font-family: 'Gilroy-Light';
						letter-spacing: 1px;
						margin-top: 1.4rem;
					}
				}

				.front__content {
					@extend %width-left-leaf;
					font-family: 'Gilroy-Light';
					font-size: 1.4rem;
					color: #585858;
					letter-spacing: 1px;
					line-height: 2.844rem;
					margin-top: 2.5105rem;
					width: 53rem !important;
				}

				.front__contact {
					@extend %width-left-leaf;
					margin-top: 2.5rem;
				}

					.front__contact--name {
						font-family: 'Montserrat', san-serif;
						letter-spacing: 1.2px;
						font-weight: 500;
					}

					.front__contact--info {
						font-family: 'Montserrat', san-serif;
						color: #585858;
						font-size: 1.5rem;
						margin-top: 1.4rem;
					}

					.front__contact--links {
						font-size: 2.7rem;
						margin-top: 3.7rem; 
						
						a {
							text-decoration: none;
							color: black;
						}

						i {
							margin-right: 3.91rem;
						}
					}
					
		.front__image {
			width: 56.4534rem;
			overflow: hidden;

			img {
				margin-left: -15%;
				height: 99.8vh;
				width: auto;
			}
		}

	.group-full {
	}
		.g-project-head {
			padding: 7.1099rem 0;
			font-size: 3.412rem;	
			font-family: 'Montserrat', sans-serif;
			font-weight: 900;
			width: 105.296rem;
			letter-spacing: 1.8px;
		}

		.g-project-row {
			width: 105.296rem;
			margin-bottom: 7.5366rem;
		}

		.g-project-row:last-child {
			margin: 0;
		}

			.g-card__image {
				flex: 1;

				img {
					width: 22.041rem;
				}
			}

			.g-card__data {
				flex: 2;
				width: 25.197rem;
				margin-left: 2.2752rem;
			}

				.g-card__head {
					font-family: 'Gilroy-Bold';
					letter-spacing: 1px;
					line-height: 2.2rem;
					margin-bottom: 0.7rem;
				}

				.g-card__content {
					color: #585858;
					font-family: 'Gilroy-Light';
					letter-spacing: 0.8px;
					line-height: 2.1041rem;
				}

				.g-card__link {

					a {
						text-decoration: none;
						font-family: 'Montserrat', sans-serif;
						font-weight: 600;
						color: $primary-bg-color;
					}
				}

		.g-equipment-head {
			font-size: 3.412rem;	
			font-family: 'Montserrat', sans-serif;
			font-weight: 900;
			width: 105.296rem;
			margin-top: 4.266rem;
			letter-spacing: 1.8px;
		}

		.g-equipment__list {
			width: 105.296rem;
			margin-top: 2.48849rem;
		}

			.g-equipment__item {
				font-size: 1.5rem;
			}
	
		.g-recruitments-head {
			font-size: 3.412rem;	
			font-family: 'Montserrat', sans-serif;
			font-weight: 900;
			width: 105.296rem;
			margin-top: 8.566rem;
			letter-spacing: 1.8px;
		}

		.g-recruitments-content {
			width: 105.296rem;
			font-family: 'Gilroy-Light';
			font-size: 1.7rem;	
			line-height: 2.844rem;
			color: #585858;
			margin-top: 3.1994rem;
		}

		.g-recruitments-link {
			width: 105.296rem;
			margin-top: 5.3325rem;
			margin-bottom: 10rem;

			a {
				text-decoration: none;
				color: $primary-bg-color;
				text-decoration: none;
				font-family: 'Montserrat', sans-serif;
				font-weight: 600;
				font-size: 2.55rem;
			}
		}