---
layout: default
---

<div class="wrapper--about display--flex flex-direction-column vertical-align--center horizontal-align--center">
	<div class="about__row about__head display--flex vertical-align--center">
		<h1> ABOUT </h1>
	</div>	
	<div class="about__head--description about__row h2--large"> 
		The Students' Technical Council is a council of all the technical groups present in the institute namely SDS, MDG, ArIES, MaRS, Design Studio, ShARE, Tinkering Lab, EDC, Physics and Astronomy, TIDES and SAE/FSAE. Until the year 2017, the council used to go by the banner of Hobbies Club comprising of just 8 groups. Since then we have grown to 11 groups in number.
	</div>
	<div class="about__row about__head display--flex vertical-align--center">
		<h1> COUNCIL </h1>
	</div>
	<div class="about__row a-cards__row display--flex">
	{% assign members = site.council %}
	{% for member in members %}
		{% assign isMultipleTwo = forloop.index | modulo: 2 %}
			<div class="about-card display--flex">
				<div class="about-card__image">
					<img src="/images/{{member.image}}">
				</div>
				<div class="about-card--data display--flex horizontal-align--space-evenly flex-direction-column ">
					<div class="about-card__head">
						{{member.name | upcase }}	
					</div>
					<div class="about-card__description">
						{{member.description}}
					</div>
				</div>
			</div>	
			{% if isMultipleTwo == 0 %}
				</div>
				<div class="about__row a-cards__row display--flex">	
			{% endif %}
	{% endfor %}
	</div>
	
</div>