---
layout: default
---

<div class="wrapper--notices display--flex vertical-align--center horizontal-align--center flex-direction-column">

	<div class="notices__element notices__element--head display--flex vertical-align--center">
		<h1> NOTICES </h1>
	</div>
	{% assign notices = site.notices | sort: 'date' | reverse %}
	{% for notice in notices %}
		<div class="notices__element notices--notice display--flex">
			<div class="notice--number h1--small"> 
					{% if forloop.index < 10 %}
						<div class="number__text"> 0{{ forloop.index }} </div>
					{% else %}
						<div class="number__text"> {{ forloop.index }} </div>
					{% endif %}

			</div>
			<div class="notice--content h1--smaller"> 
				<div class="content__text">
					{{ notice.content }}
				</div>
				<div class="content__link h1--smaller">
					<a href="#"> View Details </a>
				</div>
			</div>
			<div class="notice--date h1--smaller"> {{ notice.date | date: '%b %d' }} </div>
		</div>
	{% endfor %}
</div>