$font-list-ttf: Gilroy-Black Gilroy-BlackItalic Gilroy-Bold Gilroy-BoldItalic Gilroy-ExtraBold Gilroy-ExtraBoldItalic Gilory-Heavy;
$font-list-otf: Gilroy-Light;

@each $font in $font-list-ttf {
	@font-face {
		font-family: #{$font};
		src: url('/fonts/#{$font}.ttf') format('truetype');
	}
}

@each $font in $font-list-otf {
	@font-face {
		font-family: #{$font};
		src: url('/fonts/#{$font}.otf') format('truetype');
	}
}

// importing montserrat font for footer
@import url('https://fonts.googleapis.com/css?family=Montserrat:500,700,800');
