h2 {
	font-size: 1.7064rem;
	letter-spacing: 1px;
}

h3 {
	font-size: 1.562rem;
	letter-spacing: 1px;
}

h1 {
	font-size: 4.266rem;
	letter-spacing: 0.17064rem; 
}

.h1--small {
	font-size: 3.5549999999999997rem;			
	letter-spacing: 2px;
}

//for around 40px
.h1--smaller {
	font-size: 2.533rem;
}

//for 30px
.h2--large {
	font-size: 2.133rem;
}

.h3--small {
	font-size: 1.3298rem;
}


