---
layout: default
---

<div class="wrapper--equipment flex-direction-column display--flex vertical-align--center horizontal-align--center">
	<div class="equipments__head">
		<div class="equipments__head--main" > <h1> EQUIPMENT </h1></div>
		<div class="equipments__head--description h2--large"> 
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae unde quas natus? Dolore nam molestiae rerum ipsum, ea molestias dolorem doloremque ut labore eaque quo magnam repellat tenetur eius cum! 
		</div>
	</div>
	<div class="equipments__row display--flex">
	{% assign number = 0 %}
	{% assign groups = site.groups %}
	{% for group in groups %}
		{% assign equipments = group.equipments %}
		{% if equipments != "" %}
			{% assign number = number | plus: 1 %}
			{% assign isMultipleThree = number | modulo: 3 %}
			<div class="equipment">
					<div class="equipment__head">
						{{ group.name | upcase }}
					</div>
					<div class="equipment__list">	
					{% for equipment in equipments %}
						<div class="equipment__list--item display--flex"> 
								<i class="fa fa-circle" aria-hidden="true"></i>
								<span class="h2--large"> {{ equipment }}</span> 
						</div>
					{% endfor %}
					</div>
			</div>
			{% if isMultipleThree == 0 %}
				</div>
				<div class="equipments__row  display--flex">
			{% endif %}
		{% endif %}
	{% endfor %}
	</div>
</div>